{% extends 'base.html' %}
{% block title %}Product Form{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</h3>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Update{% else %}Add{% endif %}
        </button>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}


